#ignore all logs 
*.log
#ignore all makefiles
*.mk
#ignore all gz files
*.gz
#ignore all synctex files
*.synctex.gz
#ignore all the .txt files
*.txt
#ignore all the .cpp files
*.cpp
#ignore all the .aux files
*.aux
#ignore all the .xml files
*.xml

